<form id="startForm" class="form d-inline">
    <label>
        Algorithm
        <select id="algorithm" class="form-control">
            <option>Life</option>
            <option>Flame</option>
        </select>
    </label>
    <label>
        Delay
        <input name="delay" class="form-control" type="number" value="100" min="10" step="10" />
    </label>
    <label>
        Width
        <input id="width" class="form-control" type="number" value="80" max="800" />
    </label>
    <label>
        Height
        <input id="height" class="form-control" type="number" value="60" max="600" />
    </label>
    <label>
        Size
        <input id="size" class="form-control" type="number" value="1" min="1" max="20" />
    </label>
    <fieldset id="Flame">
        Sparsity
        <input id="sparsity" class="form-control" type="number" value="2" min="2" />
    </fieldset>
    <br />
    <input type="submit" value="Start" />
</form>
<form id="stopForm" class="form d-inline disabled">
    <input type="submit" value="Stop" />
</form>

<div><canvas id="canvas" width="800" height="600"></canvas></div>
